<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.admin.web.com.chens.admin.mapper.SysPermissionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id AS parentId, permission_type AS permissionType, url, create_time AS createTime, update_time AS updateTime, create_by AS createBy, update_by AS updateBy, permission
    </sql>

    <!-- 树 -->
    <select id="tree" resultType="com.chens.core.vo.ZTree">
        select id as "id",parent_id as "pId",name as "name",(case when parent_id=0 or parent_id=null then 'true' else 'false' end) as "open" from sys_permission
    </select>



</mapper>
