<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.admin.mapper.SysRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name AS roleName, role_code AS roleCode, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, is_delete AS isDelete
    </sql>

    <!-- 通过用户ID找角色 -->
    <select id="getRoleListByUserId" parameterType="java.lang.String"  resultType="com.chens.admin.entity.SysRole">
        select role.*
        from sys_role role,sys_user_role userrole
        where role.id = userrole.role_id
        and userrole.user_id=#{userId}
    </select>

</mapper>
