<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.admin.mapper.SysUserRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, id, role_id AS roleId, create_time AS createTime, update_time AS updateTime, create_by AS createBy, update_by AS updateBy
    </sql>

</mapper>
