<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.admin.mapper.SysUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, username,phone,email, create_time AS createTime, update_time AS updateTime, create_by AS createBy, update_by AS updateBy, tenant_id AS tenantId
    </sql>



    <!-- 通过用户ID找角色 -->
    <select id="getUserListByRoleId" parameterType="com.chens.admin.entity.SysUser"  resultType="com.chens.admin.entity.SysUser">
        select suser.*
        from sys_user suser,sys_user_role userrole
        where suser.id = userrole.user_id
        and userrole.role_id=#{user.roleId}
        <if test="user.username!=null and user.username!=''">
            and (suser.username like concat('%',#{user.username},'%') or suser.name like concat('%',#{user.username},'%'))
        </if>
        <if test="user.name!=null and user.name!=''">
            and (suser.username like concat('%',#{user.name},'%') or suser.name like concat('%',#{user.name},'%'))
        </if>
    </select>

</mapper>
