<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.file.vo.mapper.AbstractFileQuoteMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id AS tenantId, type, data_id AS dataId, seq, file_id AS fileId, file_type AS fileType, file_ext AS fileExt, file_path AS filePath, remark, create_by AS createBy, create_time AS createTime, update_by AS updateBy, update_time AS updateTime, is_delete AS isDelete, update_by_name AS updateByName, create_by_name AS createByName
    </sql>

</mapper>
