<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.share.mapper.ShareMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by AS createBy, update_by AS updateBy, create_time AS createTime, update_time AS updateTime, tenant_id AS tenantId, create_by_name AS createByName, update_by_name AS updateByName, is_delete AS isDelete, share_type AS shareType, share_by AS shareBy, share_to_user AS shareToUser, data_id AS dataId, share_to_org AS shareToOrg, share_pwd AS sharePwd, invalid_time AS invalidTime
    </sql>

</mapper>
