<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.admin.web.mapper.SysMenuMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, code, name, url, desc, create_time AS createTime, update_time AS updateTime, create_by AS createBy, update_by AS updateBy
    </sql>

    <!-- 通过用户ID找角色 -->
    <select id="findRoleListByUserId" resultType="com.chens.core.vo.ZTree">
        select id "id",parent_id  "pId",name as "name",(case when (pId=0 or pId is null) then 'true' 	else 'false' end) "open" from sys_menu
    </select>

</mapper>
