<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.admin.mapper.SysMenuMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, type, name, url, description, create_time AS createTime, update_time AS updateTime, create_by AS createBy, update_by AS updateBy, seq, isopen, icon
    </sql>

    <!-- 树 -->
    <select id="tree" resultType="com.chens.core.vo.ZTree">
        select id as "id",parent_id as "pId",name as "name",(case when isopen=1 then 'true' else 'false' end) "open" from sys_menu;
    </select>

</mapper>
