<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.tag.mapper.TagClassMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by AS createBy, update_by AS updateBy, create_time AS createTime, update_time AS updateTime, tenant_id AS tenantId, class_name AS className, comment, create_by_name AS createByName, update_by_name AS updateByName
    </sql>

</mapper>
