package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *
 * $!{table.comment} 服务接口
 *
 * @author ${author}
 * @create ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	
}
